[Desktop Entry]
Encoding=UTF-8
Name=ChatGPT plasmoid for Plasma
Keywords=ChatGPT
Icon=search-symbolic
X-Plasma-API=declarativeappletscript
Type=Service
X-Plasma-Provides=com.darkeye.chatGPT
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Name=com.darkeye.chatGPT
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=https://github.com/dark-eye/com.darkeye.chatGPT
KDE-PluginInfo-License=BSD 3.0
X-Plasma-MainScript=ui/main.qml
